{% include 'deals/comment_create.html' with form=form %}

<div class="container mt-5 mb-4" id="comments_container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-12 col-lg-12">
            <div class="headings d-flex justify-content-between align-items-center mb-3">
                <h5>Komentarze ({{ deal.comment_set.count }}):</h5>

            </div>
            <div class="card text-dark">

                {% for comment in comments %}
                    <div class="card-body p-4">
                        <div class="d-flex flex-start">
                            {% if comment.author.avatar %}
                                <img
                                        class="rounded-circle shadow-1-strong me-3"
                                        src="{{ comment.author.avatar.url }}"
                                        alt="avatar"
                                        width="40"
                                        height="40"
                                />
                            {% else %}
                                <div class="circle rounded-circle z-depth-2 circle-avatar me-2"
                                     style="width:38px; height:38px">
						<span class="initials" role="button" data-toggle="dropdown" aria-haspopup="true"
                              aria-expanded="false">{{ comment.author.get_initials }}</span>

                                </div>
                            {% endif %}
                            <div>
                                <h6 class="fw-bold mb-1">
                                    <a href="{% url 'accounts:profile' comment.author.username %}">
                                        {{ comment.author }} </a>
                                </h6>
                                <div class="d-flex align-items-center mb-3">
                                    <p class="mb-0 text-muted">
                                        <small>{{ comment.created_at | timesince }} ago</small>
                                    </p>
                                    {#   <a href="#!" ><i class="fas fa-pencil-alt ms-2" aria-hidden="true" ></i></a>#}
                                    {#  <a href="#!" ><i class="fas fa-redo-alt ms-2" aria-hidden="true" ></i></a>#}
                                    {#   <a href="#!" ><i class="fas fa-heart ms-2" aria-hidden="true" ></i></a>#}
                                </div>
                                <p class="mb-0">
                                    {{ comment.comment }}
                                </p>
                            </div>
                        </div>
                    </div>

                    <hr class="my-0" style="height: 1px;" />
                {% empty %}
                    <div class="card p-3 mt-2">
                        Sorry, no comments yet...
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>
{#        sss#}

{% if comments.paginator.num_pages > 1 %}
    <div class="pagination">
		            <span class="step-links">
				        {% if comments.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ comments.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
				            Page {{ comments.number }} of {{ comments.paginator.num_pages }}.
				        </span>

                        {% if comments.has_next %}
                            <a href="?page={{ comments.next_page_number }}">next</a>
                            <a href="?page={{ comments.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
		            </span>
    </div>
{% endif %}
</div>
</div>
</div>
