{% extends "_base.html" %}

{% block title %} Dodaj nową okazję {% endblock %}
{% block content %}

	<div class="card bg-light">
		<article class="card-body mx-auto" style="max-width: 800px;">
			<h4 class="card-title mt-3 text-center">Dodaj nową okazję</h4>
			<form class="create_deal" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				{{ form.errors }}
				<!-- 2 column grid layout with text inputs for the first and last names -->
				<div class="row mb-4">
					<div class="col">
						<div class="form-outline">
							<input type="text" id="form3Example1" name="{{ form.name.html_name }}"
							       class="form-control"/>
							<label class="form-label" for="form3Example1">Tytuł</label>
						</div>
					</div>
				</div>
				<div class="row mb-4">
					<div class="col">
						<div class="form-outline">
							{{ form.product_img }}
						</div>
					</div>
				</div>

				<div class="row mb-4">
					<div class="col">
						<div class="form-outline mb-4" style="background-color: white">
							{{ form.description }}
						</div>
					</div>
				</div>

				<div class="form-outline mb-4">
					<input type="text" id="form3Example1" name="{{ form.link.html_name }}"
					       class="form-control" {% if form.link.required %} required {% endif %}/>
					<label class="form-label" for="form3Example1">Link</label>
					<div class="invalid-feedback">
						Please provide a valid link.
					</div>
				</div>

				<div class="row mb-4">
					<div class="col">
						<div class="form-outline">
							{{ form.current_price }}
							<label class="form-label" for="form3Example1">Cena promocyjna</label>
						</div>
					</div>
					<div class="col">
						<div class="form-outline">
							{{ form.historical_price }}
						</div>
						<label class="form-label" for="form3Example1">Cena regularna</label>
					</div>
				</div>
				<div class="form-outline mb-4">
					{{ form.delivery_cost }}
					<label class="form-label" for="form3Example1">Koszt dostawy</label>
				</div>
				<button type="submit" class="btn btn-success btn-block mb-4">Dodaj</button>

			</form>
		</article>
	</div>

{% endblock content %}
