{% extends '_base.html' %}
{% block title %} Deal detail {% endblock %}
{% block content %}


	<!--Section: Block Content-->
	<section class="mb-5">
		<div class="row">
			<div class="col-md-6 mb-4 mb-md-0">
				<div id="mdb-lightbox-ui"></div>
				<div class="mdb-lightbox">
					<div class="row product-gallery mx-1">
						<div class="col-12 mb-0">
							<figure class="view overlay rounded z-depth-1 main-img">
								<a href="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/15a.jpg"
								   data-size="710x823">
									<img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/15a.jpg"
									     class="img-fluid z-depth-1">
								</a>
							</figure>
						</div>
					</div>

				</div>

			</div>
			<div class="col-md-6">
				<h5>{{ deal.name }}</h5>
				<p class="mb-2 text-muted text-uppercase small">Category</p>
				<p>
					<span class="mr-1">
						<strong>{{ deal.current_price }}
							{% if deal.historical_price %}| <s> {{ deal.historical_price }}</s> |
								{{ deal.price_percentage | floatformat:2 }}%  {% endif %}
						</strong>
					</span>
				</p>
				<p class="pt-1">{{ deal.description }}</p>
				<div class="table-responsive">
					<table class="table table-sm table-borderless mb-0">
						<tbody>
						<tr>
							<th class="pl-0 w-25" scope="row"><strong>Delivery cost</strong></th>
							<td>{{ deal.delivery_cost }}</td>
						</tr>
						<tr>
							<th class="pl-0 w-25" scope="row"><strong>Valid</strong></th>
{#							Add custom filter and return 0 when expired#}
							<td>{{ deal.valid_till | timeuntil }}</td>
						</tr>
						</tbody>
					</table>
				</div>
				<hr>

				<a type="button" class="btn btn-primary btn-md mr-1 mb-2" href="{{ deal.link }}">Buy now</a>
			</div>
		</div>

	</section>
	<!--Section: Block Content-->


	{% include 'deals/comments.html' %}
{% endblock %}
