<div class="container">
	<div class="card mb-2">
		<div class="row no-gutters">
			<div class="col-sm-2 p-2">
				<img class="card-img" src="{{ deal.product_img.url }}" alt="Deal image">
			</div>
			<div class="col-sm-10">
				<div class="card-body">
					<h5 class="card-title">
						<a href="{% url 'deals:detail' deal.pk %}">
							{{ deal.name }} | {{ deal.current_price_format }}
							{% if deal.historical_price %}| <s> {{ deal.historical_price_format }}</s> |
								{{ deal.price_percentage | floatformat:2 }}%  {% endif %}
						</a>
						<p><span class="badge badge-info">{{ deal.get_voting_count }}</span></p>
					</h5>
					<p class="card-text">{{ deal.description | safe | striptags | truncatechars:100 }}</p>
					<p><small>{{ deal.created_at }} | Comments: {{ deal.comment_set.count }} |
						Author: {{ deal.author }}</small></p>
				</div>
			</div>
		</div>
	</div>
</div>

