{% extends '_base.html' %}
{% block title %} Deal detail {% endblock %}
{% block content %}

	<!--Section: Block Content-->
	<section class="mb-5">
		<div class="row">
			<div class="col-md-4 mb-2 mb-md-0">
				<div id="mdb-lightbox-ui"></div>
				<div class="mdb-lightbox">
					<div class="row product-gallery mx-1">
						<div class="col-12 mb-0">
							<figure class="view overlay rounded z-depth-1 main-img">
								<a href="{{ deal.product_img }}" data-size="400x400">
									<img src="{{ deal.product_img }}" class="img-fluid z-depth-1">
								</a>
							</figure>
						</div>
					</div>

				</div>

			</div>
			<div class="col-md-8">
				<h5>{{ deal.name }}</h5>
				<p class="mb-2 text-muted text-uppercase small">Category | {{ deal.author }}</p>
				<p>
					<span class="mr-1">
						<strong>{{ deal.current_price }}
							{% if deal.historical_price %}| <s> {{ deal.historical_price }}</s> |
								{{ deal.price_percentage | floatformat:2 }}%  {% endif %}
						</strong>
					</span>
				</p>
				<p>

					<span id="deal_id" data-value="{{ deal.id }}" {% if have_voted %} data-toggle="tooltip"
					      title="You can vote only once." {% endif %}>
					<span id="container-vote-up">

						<a class="vote-action btn btn-outline-success {% if have_voted %}disabled {% endif %}" href="#"
						   role="button" value="vote_up" id="vote_up">
							<i class="bi bi-file-plus" fill="currentColor" width="20" height="20"></i>
						</a>

					</span>

					<span id="voting-counter" class="p-2">{{ deal.get_voting_count }}</span>

					<span id="container-vote-down">
						<a class="vote-action btn btn-outline-danger {% if have_voted %}disabled {% endif %}" href="#"
						   role="button" value="vote_down" id="vote_down">
							<i class="bi bi-file-minus" fill="currentColor" width="20" height="20"></i>
						</a>
					</span>
					</span>
				</p>

				<p class="pt-1">{{ deal.description }}</p>
				<div class="table-responsive">
					<table class="table table-sm table-borderless mb-0">
						<tbody>
						<tr>
							<th class="pl-0 w-25" scope="row"><strong>Delivery cost</strong></th>
							<td>{{ deal.delivery_cost }}</td>
						</tr>
						<tr>
							<th class="pl-0 w-25" scope="row"><strong>Valid</strong></th>
							{#							Add custom filter and return 0 when expired#}
							<td>{{ deal.valid_till | timeuntil }}</td>
						</tr>
						</tbody>
					</table>
				</div>
				<hr>

				<a type="button" class="btn btn-primary btn-md mr-1 mb-2" href="{{ deal.link }}">Buy now</a>
			</div>
		</div>

	</section>

	{% include 'deals/comments.html' %}
	<script>
        {# TODO: Delete this dummy permission #}
        $(document).ready(function () {
            $('.vote-action').click(function (e) {
                e.preventDefault();
                let deal_id = document.getElementById('deal_id').getAttribute('data-value');
                let button = $(this).attr("value");

                $.ajax({
                    type: 'POST',
                    url: '{% url "deals:vote" %}',
                    data: {
                        deal_id: deal_id,
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                        action: 'votes',
                        button: button,
                    },
                    success: function (json) {
                        if (json.length < 1 || json == undefined) {
                        }
                        $('.toast').toast('show');
                        document.getElementById("vote_down").classList.add("disabled")
                        document.getElementById("vote_up").classList.add("disabled")
                        document.getElementById("voting-counter").innerHTML = json['total']

                        console.log(json)

                    },
                    error: function (xhr, errmsg, err) {
                    }
                });
            });
        });

	</script>
{% endblock %}
