{% extends "_base.html" %}
{% block title %}Zaloguj się{% endblock %}
{% block content %}
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-light" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <div class="mb-md-5 mt-md-4 pb-5">

                                <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                                <p class="mb-5">Podaj swój login oraz hasło!</p>
                                <form class="login" method="POST" action="{% url 'account_login' %}">
                                    {% csrf_token %}

                                    {% for error in form.non_field_errors %}
                                        <small class="mb-2">{{ error }}</small>
                                    {% endfor %}

                                    <div class="form-outline mb-4">
                                        <i class="fas fa-user trailing" aria-hidden="true"></i>
                                        <input
                                                type="text"
                                                id="{{ form.login.id_for_label }}"
                                                name="{{ form.login.html_name }}"
                                                class="form-control form-control-lg" />
                                        <label
                                                class="form-label"
                                                for="{{ form.login.id_for_label }}">
                                            Login
                                        </label>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <i class="fas fa-key trailing" aria-hidden="true"></i>
                                        <input
                                                type="password"
                                                id="{{ form.password.id_for_label }}"
                                                name="{{ form.password.html_name }}"
                                                class="form-control form-control-lg" />
                                        <label class="form-label" for="{{ form.password.id_for_label }}">Hasło</label>
                                    </div>

                                    <p class="small mb-3 pb-lg-2">
                                        <a href="{% url 'account_reset_password' %}">Zapomniałeś hasła?</a>
                                    </p>

                                    <button class="btn btn-outline-dark btn-lg px-5" type="submit">Login</button>

                                </form>
                            </div>

                            <div>
                                <p class="mb-0">
                                    Nie masz jeszcze konta? <a href="{{ signup_url }}" class="fw-bold">Zarejestruj
                                    się</a>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
