{% extends "_base.html" %}

{% block title %}Password reset{% endblock %}
{% block content %}
	<div class="card bg-light">
		<article class="card-body mx-auto" style="max-width: 400px;">
			<h4 class="card-title mt-3 text-center">Password reset</h4>
			<p class="text-center">Forgotten your password? Enter your e-mail address below, and we'll send you an
				e-mail allowing you to reset it.</p>
			<form class="password_reset" method="POST" action="{% url 'account_reset_password' %}">
				{% csrf_token %}
				<small>{{ form.email.errors }}</small>
				<div class="form-group input-group">
					<div class="input-group-prepend">
						<span class="input-group-text"> <i class="bi bi-envelope" aria-hidden="true"></i> </span>
					</div>
					<small>{{ form.email.errors }}</small>
					<input name="{{ form.email.html_name }}" class="form-control"
					       placeholder="{{ form.email.label }}" type="text">
				</div>


				<div class="form-group">

					<button type="submit" class="btn btn-primary btn-block"> Reset</button>
				</div>

				<p class="text-center">Have an account? <a href="{% url 'account_login' %}">Log In</a></p>

				<p>Please contact us if you have any trouble resetting your password.</p>
			</form>
		</article>
	</div>

{% endblock content %}
