{% extends "_base.html" %}


{% block title %}Register{% endblock %}

{% block content %}
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-light" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <div class="mb-md-5 mt-md-4 pb-2">

                                <h2 class="fw-bold mb-2 text-uppercase">Zarejestruj</h2>
                                <p class="mb-5">Podaj swój login, email oraz hasło!</p>
                                <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                                    {% csrf_token %}

                                    {% for error in form.non_field_errors %}
                                        <small class="mb-2">{{ error }}</small>
                                    {% endfor %}

                                    <div class="form-outline mb-4">
                                        <i class="fas fa-user trailing" aria-hidden="true"></i>
                                        <input
                                                type="text"
                                                id="{{ form.username.id_for_label }}"
                                                name="{{ form.username.html_name }}"
                                                class="form-control form-control-lg" />
                                        <label
                                                class="form-label"
                                                for="{{ form.username.id_for_label }}">
                                            Login
                                        </label>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <i class="fas fa-envelope trailing" aria-hidden="true"></i>
                                        <input
                                                type="email"
                                                id="{{ form.email.id_for_label }}"
                                                name="{{ form.email.html_name }}"
                                                class="form-control form-control-lg" />
                                        <label
                                                class="form-label"
                                                for="{{ form.username.id_for_label }}">
                                            Email
                                        </label>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <i class="fas fa-key trailing" aria-hidden="true"></i>
                                        <input
                                                type="password"
                                                id="{{ form.password1.id_for_label }}"
                                                name="{{ form.password1.html_name }}"
                                                class="form-control form-control-lg" />
                                        <label class="form-label" for="{{ form.password1.id_for_label }}">
                                            Hasło</label>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <i class="fas fa-key trailing" aria-hidden="true"></i>
                                        <input
                                                type="password"
                                                id="{{ form.password2.id_for_label }}"
                                                name="{{ form.password2.html_name }}"
                                                class="form-control form-control-lg" />
                                        <label class="form-label" for="{{ form.password2.id_for_label }}">
                                            Powtórz hasło</label>
                                    </div>

                                    <p class="small mb-3 pb-lg-2">
                                        <a href="{% url 'account_reset_password' %}">Zapomniałeś hasła?</a>
                                    </p>

                                    <button class="btn btn-outline-dark btn-lg px-5" type="submit">Zarejestruj</button>

                                </form>
                            </div>

                            <div>
                                <p class="mb-0">
                                    Masz konto? <a href="{% url 'account_login' %}">zaloguj się</a>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}



