[run]
branch = True
source = .
omit =
    */node_modules/*
    *migrations*
    *__init__*
    manage.py
    config/wsgi.py
    config/asgi.py
    *config/settings*
    *apps.py*

# plugins = django_coverage_plugin

[report]
fail_under = 80
show_missing = True
skip_covered = False

[html]
directory = coverage/html/

[xml]
output =coverage/xml/coverage.xml
