[flake8]
exclude =
    .git,
    .gitignore,
    *.pot,
    *.py[co],
    __pycache__,
    venv,
    .env
    *migrations*
max-line-length = 120
max-complexity = 15
output-file = /home/runner/work/reports/flake8.txt
tee = True
