[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=3.2.0"
postgres = "*"
faker = "*"
uuid = "*"
django-bootstrap4 = "*"
django-allauth = "*"
flake8 = "~=4.0.1"
pre-commit = "~=2.16.0"
coverage = "~=6.2"
django-coverage-plugin = "~=2.0.2"
django-filter = "*"
whitenoise = "*"
psycopg2-binary = "==2.8.5"
dj-database-url = "*"
psycopg2 = "*"
django-environ = "~=0.8.1"
django-admin-honeypot = "~=1.1.0"
django-money = "~=2.1"
django-quill-editor = "~=0.1.29"
django-debug-toolbar = "~=3.2.4"
pillow = "==8.4.0"

[dev-packages]
faker = "*"
psutil = "*"
beautifulsoup4 = "*"
requests-html = "*"

[requires]
python_version = "3.10"
