[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pypi"

[packages]
django = "~=3.2.0"
postgres = "*"
django-allauth = "*"
flake8 = "~=4.0.1"
pre-commit = "~=2.16.0"
coverage = "~=6.2"
django-coverage-plugin = "~=2.0.2"
django-filter = "*"
whitenoise = "*"
psycopg2-binary = "==2.8.5"
dj-database-url = "*"
psycopg2 = "*"
django-environ = "~=0.8.1"
django-admin-honeypot = "~=1.1.0"
django-money = "~=2.1"
django-debug-toolbar = "~=3.2.4"
pillow = "==9.0.0"
django-summernote = "*"
