{% extends '_base.html' %}

{% block content %}
    <div class="container my-5">
        <div class="tab-content px-0 pt-5">
            <div class="tab-pane active" id="id_form-2" role="tabpanel">
                <div class="row row-cols-1 row-cols-md-3">
                    {% for brand in brands %}
                        <div class="col mb-4">
                            <div class="card card-cascade wider">
                                <div class="view view-cascade overlay">
                                    <img
                                            class="card-img-top"
                                            src="https://mdbootstrap.com/img/Photos/Others/photo6.jpg"
                                            {#                                            src="{{ brand.logo.url }}" #}
                                            alt="{{ brand.brand }}"
                                    />
                                    <a>

                                    </a>
                                </div>

                                <div class="card-body card-body-cascade text-center">

                                    <h4 class="card-title">
                                        <strong>
                                            <a href="{% url 'products:brand_detail' brand.slug %}">
                                                {{ brand.brand }}</a>
                                        </strong>
                                    </h4>
                                    <p class="card-text">{{ brand.description|truncatechars:100 }}</p>
                                    <ul class="list-unstyled text-left">
                                        <li>Produktów: {{ brand.product_set.count }}</li>
                                        <li>Okazji: x/y</li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    {% endfor %}


                </div>
            </div>
        </div>
        <!-- Tab panels -->

    </div>
    {% include "_pagination.html" %}
    <!-- Section: Block Category -->
{% endblock %}
