<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators mt-5">
		<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active bg-dark"></li>
		<li data-target="#carouselExampleIndicators" data-slide-to="1" class="bg-dark"></li>
		<li data-target="#carouselExampleIndicators" data-slide-to="2" class="bg-dark"></li>
	</ol>
	<div class="carousel-inner">
		<div class="carousel-item active">
			<div class="card" >
				<img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text mb-5">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

				</div>
			</div>
		</div>
		<div class="carousel-item">
			<div class="card" >
				<img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text mb-5">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

				</div>
			</div>
		</div>
		<div class="carousel-item">
			<div class="card">
				<img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text mb-5">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				</div>
			</div>
		</div>
	</div>

</div>
